<ul class="nav">
    <li class="current-page" id="nav1">
        <a href="{{ path('sitereservation_AdminProfile') }}"><i class="icon-home"></i><br />Profile</a>
    </li>
    <li id="nav2" class="sousMenu">
        <a href="{{ path('sitereservation_AdminReports') }}"><i class="icon-tasks"></i><br />Reports</a>
    </li>
    <li id="nav3">
        <a href="{{ path('sitereservation_AdminAddData') }}"><i class="icon-tasks"></i><br />Add Data</a>
    </li> 
</ul>