{% extends '::base.html.twig'%}
{% block title %}About{% endblock %}
{% block body %}
<script>
	$("li").removeClass("current-page");
	$("#nav3").addClass("current-page");
</script>
<div class="what-we-do container">
	<div class="row">
	<div align="left" class="violet" style="position:relative;left:20px;">
		<h2><span>About Us</span></h2>
	</div>
	<div style="position:relative;height:200px;width:300px;left:20px">
		our website is the link between the customer and Entertainment. Here, you can get real and great offers in easy way.we do our best to be sure that service providers are real.
	</div>
</div>
</div>
<br />
<br />
{% endblock %}