{% extends '::base.html.twig'%}
{% block title %} Add Data{% endblock %}
{% block body %}
 <script>
        
       $("li").removeClass("current-page");
       $("#nav3").addClass("current-page");
       
 </script>

     <style>
           
            
            #activeNewCompanyRequestError{
                
                color: red;
                margin-left: -20%;
                margin-top: 20%;
            }
            
            #activeNewCompanyRequestSuccess{
                
                color: green;
                margin-left: -40%;
                margin-top: 20%;
            }

        </style>

      <div class="what-we-do container">
              <center>             
              <div class="AdminProfile">
               <span id="activeNewCompanyRequestError"></span>
               <span id="activeNewCompanyRequestSuccess"></span> 
                <br/>
                <select id="activeNewCompanyRequestSelect" >
                    
                        <option value="0">-- Choose Company --- </option>
                        {% for company in companys  %}

                        <option value="{{ company.id }}">{{ company.custid.username }}</option>

                        {% endfor %}                    
                </select>        
                <div class="ReportsButton"  ><a  href="{{ path('sitereservation_activeNewCompany') }}"  id="activeNewCompanyRequestButton" name = "{{ path('sitereservation_AdminAddData') }}"/>active</a></div>      
             
              </div>        
                      
             </center>          
              
       </div>
        <br/>
        
       <!-- <script>
            $('#activeNewCompanyRequestSelect').on('change',function(){
                
                
                alert($('#activeNewCompanyRequestSelect').val());
            });
        </script>-->
{% endblock %}

