{% extends '::base.html.twig' %}
{% block title %}Hot Offers{% endblock %}
{% block body %}
<div class="row">
    <div class="12u">
			{% for offer in offers %}
            <div class="4u">

                <section class="{% if loop.index == 1 %}first{% elseif loop.index == 2 %}middle{% else %}last{% endif %}">
                    <header>
                        <h1>{{ offer.name }}<h1>
                                </header>
                                <p>{{ offer.datefrom|date }}{{ offer.dateto|date }}</p>
                                </section>
                                </div>
			{% endfor %}
                                </div>
                                </div>
{% endblock %}