
<span>Un Payment Company</span>
<br/>
<br/>

{% for allCompany in allCompanys  %}

    {% for company in companys  %}
    
        {% if  company.companyId.id != allCompany.id %}
            
            User Name :&nbsp; {{ allCompany.username }}<br/>
            Email:&nbsp;{{ allCompany.email }}<br/><br/>

        {% endif%}
            
     {% else %}       

            User Name :&nbsp; {{ allCompany.username }}<br/>
            Email:&nbsp;{{ allCompany.email }}<br/><br/>
            
    {% endfor %}
    
{% endfor %}