{% extends '::base.html.twig' %}
{% block title %}Index{% endblock %}
{% block body %}
	<div class="row">
	    <div class="12u">
							<!-- Banner -->
			<section class="box">
				<div  style="position:relative;left:375px;">
						
						your data is inserted successfully
						
                </div>
			</section>
        </div>
	</div>
{% endblock %}